@import url('csskit/navbar.css');
@import url('csskit/starsbackground.css');
@import url('csskit/typewriter.css');

.tubougepas {
    transform: translate(-50%, -50%);
    top: 200px;
    left: 50%;
    display: block;
    position: absolute;
    text-align: center;
}

.line-1 {
    font-size: 80px;
    top: 50%; 
}


/*Text*/


.textabout { 
    color: white;
    line-height: 1.8; 

    top: 250px;
    position: relative;
    margin: .5em;
    padding: 10px;

    border-radius: 50px;
    background: #2f3136;
    box-shadow: 5px 5px 10px #707070,
        -5px -5px 10px #ffffff;
}
.curve { 
  width: 3%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

/*###Tablet(medium)###*/
@media screen and (min-width : 768px) and (max-width : 1023px) {

}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 361px) and (max-width : 767px) {
    .line-1 {
        font-size: 60px;
    }

    .tubougepas{
        top: 175px;
    }

    .textabout{
        top: 200px;
    }
}

@media screen and (min-width : 0px) and (max-width : 360px) {
    .line-1 {
        font-size: 60px;
    }

    .tubougepas{
        top: 175px;
    }

    .textabout{
        top: 200px;
    }
}