@import url('csskit/navbar.css');
@import url('csskit/starsbackground.css');
@import url('csskit/typewriter.css');

.tubougepas {
    transform: translate(-50%, -50%);
    top: 200px;
    left: 50%;
    display: block;
    position: absolute;
    text-align: center;
}

.line-1 {
    font-size: 80px;
    top: 50%; 
}


/*text*/

.info1 {
    color: white;
    border-radius: 24px;
    background: #2f3136;
    box-shadow: 5px 5px 0px #282a2e,
        -5px -5px 0px #36383e;

    transform: translate(-50%, -50%);
    left: 50%;

    top: 450px;
    position: relative;
    text-align: left;
    padding: 1.25em;
    width: calc(100% - 20px);
    max-width: 1920px;
}

/*Right and Left columns*/



.columnsContainer {
    max-width: 1920px;
    color: white;
    top: 40px;
    position: relative;
    margin: .5em;

    transform: translate(-50%, -50%);
    left: 50%;

    border-radius: 50px;
    background: #2f3136;
    box-shadow: 5px 5px 10px #707070,
        -5px -5px 10px #ffffff;
}

.leftColumn,
.rightColumn {
    padding: 1.25em;
}

.leftColumn {
    margin-bottom: .5em;
}

/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1023px) {

    .info1 {
        top: 350px;
    }

    .columnsContainer {
        top: 800px;
    }
    .leftColumn {
        margin-right: 19.5em;
    }

    .rightColumn {
        position: absolute;
        top: 0;
        right: 0;
        width: 18.75em;
    }
}

/*###Tablet(medium)###*/
@media screen and (min-width : 767px) and (max-width : 1023px) {
    .leftColumn {
        margin-right: 19.5em;
    }

    .info1 {
        top: 300px;
    }

    .columnsContainer {
        top: 900px;
    }

    .rightColumn {
        position: absolute;
        top: 0;
        right: 0;
        width: 18.75em;
    }
}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 361px) and (max-width : 767px) {
    .line-1 {
        font-size: 60px;
    }

    .info1 {
        top: 350px;
    }

    .columnsContainer {
        top: 1150px;
    }
}

@media screen and (min-width : 0px) and (max-width : 360px) {
    .line-1 {
        font-size: 60px;
    }

    .info1 {
        top: 400px;
    }

    .columnsContainer {
        top: 1250px;
    }
}