* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fafafa;
  margin: 0;
  color: rgb(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  width: 1200px;
  padding: 2rem 0;
  height: auto;
  margin: auto;
}


/*Other Screen Sizes*/

@media only screen and (max-width: 1200px) {

  .page,
  article {
    width: 900px;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 900px) {

  .page,
  article {
    width: 700px
  }
}

@media only screen and (max-width: 768px) {

  .page,
  article {
    width: 100%;
    padding: 2em;
  }
}

a {
  font-weight: 1000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 12.5px;
}

.menu {
  background: #2f3136;
  margin: auto;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 8px 2rem;
  height: 70px;
  font-family: 'Titillium Web', sans-serif;
}

.menu ol {
  padding-left: 0px;
}

.menu-item {
  list-style-type: none;
  display: inline;
  position: relative;
  margin: 1%;
  font-family: 'Titillium Web', sans-serif;
}

.menu-item:before {
  position: absolute;
  content: "";
  border-bottom: 4px solid rgb(216, 216, 216);
  overflow: hidden;
  width: 0%;
  left: 50%;
  top: 40px;
  transition: 0.35s ease-in-out 0.15s;
}

.menu-item:hover:before {
  width: 100%;
  left: 0%;
  transition: 0.2s ease-in-out;
}