body {
    margin: 0;
    color: rgb(0, 0, 0, 0.8);
    background-color: rgb(27, 27, 27);;
    background-image: url('../../images/stardust.png');
    animation: stars 30s linear infinite;
}

@keyframes stars {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 798px -798px;
    }
}