/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

body{
  height: calc(100vh - 8em);
}

.line-1{
    font-family: 'Anonymous Pro', monospace; 
    color: white;
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 300%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation Welcome */
.anim-typewriter-welcome{
  animation: typewriterwelcome 0.75s steps(20) 1 normal both,
             blinkTextCursor 1000ms steps(20) infinite normal;
}
@keyframes typewriterwelcome{
  from{width: 0;}
  to{width: 4em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Animation Download */
.anim-typewriter-download{
  animation: typewriterdownload 0.75s steps(15) 1 normal both,
             blinkTextCursor 1000ms steps(20) infinite normal;
}
@keyframes typewriterdownload{
  from{width: 0;}
  to{width: 4.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Animation About */
.anim-typewriter-about{
  animation: typewriterabout 0.5s steps(15) 1 normal both,
             blinkTextCursor 1000ms steps(20) infinite normal;
}
@keyframes typewriterabout{
  from{width: 0;}
  to{width: 3em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}